<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Walksafe</title>
 <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100vh;
      }
    </style>
    </head>
    <body>
        <div id="main" />

        <script src="/scripts/js/bundle.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfaYdCaudaOx1bpWyETAxzTMZ5IYL0TRI" async defer></script>

    </body>
</html>
